.text-title-custom{
    color:#2e769e;
    font-weight: 600;
}

.navbar-brand img{
    height: 60px;
}

.bg-blue{
    background-color:#2e769e;
}

.navbar-nav .nav-item a{
    color:#ffffff;
    font-weight: 600;
    font-size: 14px;
}

.btn-custom{
    border-radius: 0;
    padding: 11px;
}
.btn-outline-primary {
    color: #ffffff;
    background-color: transparent;
    background-image: none;
    border:none !important;
    outline:none !important;
    box-shadow: none !important;
}

.dropdown-menu{
    border-radius: 0;
    border:none;
    top:44px !important; 
}
.dropdown-menu.show{
    background-color: #7e8c8d;
}

.dropdown-item{
    color:#ffffff;
    cursor: pointer;
}

.btn-outline-primary:not(:disabled):not(.disabled):active, .btn-outline-primary:not(:disabled):not(.disabled).active, .show > .btn-outline-primary.dropdown-toggle{
    background-color: #7e8c8d;
    border-color: #7e8c8d;
}

.dropdown-item:hover, .dropdown-item:focus {
    background-color: #bec3c7;
}

.text-title-custom{
    font-size:22px;
}

.user-logged{
    display: flex;
    height: auto;
    width: 50px;
    align-items: center;
    justify-content: end;
}

.user-logged-profile{
    font-size: 15px;
    font-weight: 500;
}
.user-logged-profile .fa{
    font-size: 15px;
}

.list-inline-item a{
    color:#2e769e;
    font-weight: 600;
    text-decoration: none !important;
}

.list-inline-item .fa{
    color:#2e769e;
    height: 25px;
    width: 25px;
    background-color: #ffffff;
    border-radius: 50%;
    padding: 5px 3px 0 3px;
    text-align: center;
}