<div class="bg-light-custom m-b-3"
     *ngIf="isLoggedIn$ | async as isLoggedIn">
    <div class="container-fluid">
        <div class="row">
            <div class="col-8">
                <a class="navbar-brand"
                   [routerLink]="'/home'">
                    <img src="../../../assets/img/logo.png"
                         alt="logo">
                </a>
            </div>
            <div class="col-4 text-right user-logged justify-content-end">
                <div class="user-logged-profile">
                    <i class="fa fa-fw fa-user-circle"></i>{{userLogged}}
                </div>
            </div>
        </div>
        <!-- <div class="row">
             &lt;!&ndash; <div class="col-8">
                <h4 class="text-title-custom">Gestão Orçamentária</h4>
              </div>&ndash;&gt;
             <div class="col-12 text-right">
                 <ul class="list-inline">
                     <li class="list-inline-item">
                         <a (click)="logout()">
                             <i class="fa fa-fw fa-power-off"></i>
                             Sair
                         </a>
                     </li>
                 </ul>
             </div>
         </div>-->
    </div>
</div>
<!--End Top bar-->

<!--Begin toolbar-->
<nav class="navbar navbar-expand-lg navbar-dark bg-blue"
     *ngIf="isLoggedIn$ | async as isLoggedIn">
    <div class="container-fluid">
        <button class="navbar-toggler"
                type="button">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse show">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <button dropdownToggle type="button" class="btn btn-custom btn-outline-primary" aria-controls="dropdown-basic"
                            [routerLink]="'/page-item-plano-aquisicao'">
                        Item Plano de Aquisição <span class="caret"></span>
                    </button>
                </li>
                <li class="nav-item">
                    <div class="btn-group"
                         dropdown>
                        <button dropdownToggle type="button" class="btn btn-custom btn-outline-primary dropdown-toggle"
                                aria-controls="dropdown-basic">
                            Importar Proposta Orçamentária <span class="caret"></span>
                        </button>
                        <ul *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic">
                            <li role="menuitem">
                                <a class="dropdown-item"
                                   [routerLink]="'/page-proposta-orcamentaria'">Propostas Orçamentárias Importadas</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item">
                    <button dropdownToggle type="button" class="btn btn-custom btn-outline-primary" aria-controls="dropdown-basic" [routerLink]="'/page-plano-aquisicao'">
                        Plano de Aquisição <span class="caret"></span>
                    </button>
                </li>
                <li class="nav-item">
                    <button dropdownToggle type="button" class="btn btn-custom btn-outline-primary" aria-controls="dropdown-basic" [routerLink]="'/page-gestao-orcamentaria'">
                        Gestão Orçamentária <span class="caret"></span>
                    </button>
                </li>
                <li class="nav-item">
                    <button dropdownToggle type="button" class="btn btn-custom btn-outline-primary" aria-controls="dropdown-basic" [routerLink]="'/page-orcamento'">
                        Orçamento <span class="caret"></span>
                    </button>
                </li>
                <li class="nav-item">
                    <div class="btn-group" dropdown>
                        <button dropdownToggle type="button" class="btn btn-custom btn-outline-primary dropdown-toggle" aria-controls="dropdown-basic">
                            Relatórios <span class="caret"></span>
                        </button>
                        <ul *dropdownMenu
                            class="dropdown-menu"
                            role="menu"
                            aria-labelledby="button-basic">
                            <li role="menuitem">
                                <a class="dropdown-item"
                                   [routerLink]="'/page-relatorio/gestao-geral'">Relatório Geral de Gestão</a>
                            </li>
                            <li role="menuitem">
                                <a class="dropdown-item" [routerLink]="'/page-relatorio/empenho-unidade'">Relatório Empenhos por Unidade</a>
                            </li>
                            <li role="menuitem">
                                <a class="dropdown-item" [routerLink]="'/page-relatorio/empenho-ano'"> Relatório Empenhos por Ano</a>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
            <button dropdownToggle type="button" class="btn btn-custom btn-outline-primary"
                    (click)="logout()"
                    aria-controls="dropdown-basic">
                <i class="fa fa-power-off"></i> Sair <span class="caret"></span>
            </button>
        </div>
    </div>
</nav>
