<div class="panel-header panel-header-lg">

</div>

<div class="main-content">
    <div class="container">
        <div class="row page-titles">
            <div class="col-md-5 align-self-center">

                <h3 class="text-themecolor limit-text">Veículos</h3>

            </div>
            <div class="col-md-7 align-self-center">
                <ol class="breadcrumb" style="justify-content: flex-end;">
                    <li class="breadcrumb-item" title="Inicio"><a [routerLink]="'/'">Início</a></li>
                    <li class="breadcrumb-item active">Veículos</li>
                </ol>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-6">
                        <form (ngSubmit)="fetchVehicles()" [formGroup]="form">
                            <div class="form">
                                <div class="input-group mt-2 filter-vehicle">
                                    <input type="text" class="form-control" placeholder="Marca, veículo"
                                    formControlName="searchTerm">
                                    <div class="input-group-append">
                                        <button class="btn btn-outline-secondary"><i class="fa fa-search"></i></button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-6 text-right">
                        <div class="form-group">
                            <button class="btn btn-success" (click)="add()">
                                <i class="fa fa-plus"></i> Adicionar
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <p-table [columns]="cols" [value]="vehicles" [lazy]="true" (onLazyLoad)="loadVehiclesLazy($event)"
                    [paginator]="true" [rows]="10" [totalRecords]="totalRecords" [loading]="isLoadingTable">
                    <ng-template pTemplate="header" let-columns>
                        <tr>
                            <th style="width:120px">Marca</th>
                            <th>Veículo</th>
                            <th style="width:60px">Ano</th>
                            <th>Valor</th>
                            <th>Vendido</th>
                            <th style="width:200px">Ações</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-vehicle>
                        <tr>
                            <td>{{vehicle.brand}}</td>
                            <td>{{vehicle.model}}</td>
                            <td>{{vehicle.year}}</td>
                            <td>{{vehicle.price | currency:'BRL'}}</td>
                            <td>{{(vehicle.sold | sold:vehicle.sold)}}</td>
                            <td>
                                <button class="btn btn-default btn-sm" title="Detalhes" (click)="detail(vehicle)"><i
                                        class="fa fa-search"></i></button>
                                <button class="btn btn-primary btn-sm" title="Editar" (click)="edit(vehicle)"><i
                                        class="fa fa-edit"></i></button>
                                <button class="btn btn-success btn-sm" title="Marcar como vendido" [disabled]="vehicle.sold"
                                    (click)="changeStatus(vehicle.id)"><i class="fa fa-check-circle "></i></button>
                                <button class="btn btn-danger btn-sm" title="Excluir" (click)="remove(vehicle.id)"><i
                                        class="fa fa-trash"></i></button>
                            </td>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="emptymessage" let-columns>
                        <tr>
                            <td [attr.colspan]="6" style="text-align:center;">
                                Nenhum Veículo encontrado.
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </div>
    </div>
</div>