<nav class="navbar navbar-dark bg-light-custom mb-5">
    <div class="container text-center">
        <a class="navbar-brand"
           href="javascript:void(0)">
            <img src="../../../assets/img/logo.png"
                 alt="logo">
        </a>
    </div>
</nav>
<div class="container">
    <div class="row">
        <!--<div class="col-12 col-sm-12 col-md-6">-->
        <!--<div class="card card-description">-->
        <!--<div class="card-header-custom card-header-description">-->
        <!--<h1 class="text-center">SALUS</h1>-->
        <!--</div>-->
        <!--<div class="card-body">-->
        <!--<h4 class="card-title text-center">Sistema de Gerenciamento de Plano de Saúde</h4>-->
        <!--<p class="card-text">-->
        <!--Some quick example text to build on the card title and make up the bulk of the card's content. Some quick-->
        <!--example text to-->
        <!--build on the card title and make up the bulk of the card's content. Some quick example text to build-->
        <!--on the card title and make up the bulk of the card's content. Some quick example text to build on-->
        <!--the card title and make up the bulk of the card's content. Some quick example text to build on the-->
        <!--card title and make up the bulk of the card's content. Some quick example text to build on the card-->
        <!--title and make up the bulk of the card's content. Some quick example text to build on the card title-->
        <!--and make up the bulk of the card's content.-->
        <!--</p>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <div class="col-12 col-sm-12 col-md-6 offset-md-3">
            <app-alert></app-alert>
            <div class="card">
                <div class="card-body card-body-login">
                    <div class="card-header-custom">
                        <h4 class="text-center">Identificação</h4>
                    </div>
                    <form [formGroup]="form"
                          (submit)="login()"
                          class="form-horizontal">
                        <div class="row">
                            <div class="form-group form-group-sm col-sm-12">
                                <div class="row">
                                    <label for="username"
                                           class="col-12 col-sm-2 col-md-12 col-lg-2 col-form-label">Usuário:</label>
                                    <div class="col-12 col-sm-9 col-md-12 col-lg-9">
                                        <div class="input-group">
                                            <input type="text"
                                                   class="form-control"
                                                   id="username"
                                                   formControlName="username">
                                            <div class="input-group-prepend">
                                                <div class="input-group-text"
                                                     id="btnGroupAddon">@tre-sc.jus.br
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group form-group-sm col-sm-12">
                                <div class="row">
                                    <label for="password"
                                           class="col-12 col-sm-2 col-md-12 col-lg-2 col-form-label">Senha:</label>
                                    <div class="col-12 col-sm-9 col-md-12 col-lg-9">
                                        <input type="password"
                                               class="form-control"
                                               id="password"
                                               formControlName="password">
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <button class="btn btn-default button-login">Entrar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <!--<div class="help-buttons row align-items-end d-flex between float-right">-->
            <!--<div class="col-5 mb-3">-->
            <!--<a href="#">-->
            <!--<div class="card card-help">-->
            <!--<i class="fa fa-question-circle text-center"></i>-->
            <!--<h5 class="text-center">Ajuda</h5>-->
            <!--</div>-->
            <!--</a>-->
            <!--</div>-->
            <!--<div class="col-5 mb-3">-->
            <!--<a href="#">-->
            <!--<div class="card card-about">-->
            <!--<i class="fa fa-exclamation-circle text-center"></i>-->
            <!--<h5 class="text-center">Sobre</h5>-->
            <!--</div>-->
            <!--</a>-->
            <!--</div>-->
            <!--</div>-->
        </div>
    </div>
</div>
<footer class="navbar-light text-center">
    Sistema de Gestão Orçamentária - <i class="fa fa-tag"></i> V1.0.0 -
    <i class="fa fa-database"></i> Desenvolvimento
</footer>